[Desktop Entry]
Name=Jono-NG
Comment=Crack Kata Sandi File Terenkripsi dengan John the Ripper
Exec=pkexec /usr/local/bin/jono-ng
Icon=/opt/Jono-NG/img/icon.png
Terminal=true
Type=Application
Categories=05-02-offline-attacks;05-password-attacks;
